/*body */
body{
    background: url("img/BublbleRepeatMini.jpg");
    margin : 0;
 
}

h1{
    margin-top:0;
    padding-left:5px;
    background-color: darkgreen;
    color:white;
    border-top:solid 5px #bac705;
    border-bottom:solid 5px #bac705;
    
}

h2 {
    margin-top:20;
    padding-left:5px;
    border-left:solid 5px #15278a;
    border-bottom:solid 1px #15278a;
}

/* h2 {
    margin-top:0;
    border-top:solid 1px #aaaaaa;
} */

/* header */
header{
    width:100%;
    background:  linear-gradient(rgb(0, 180, 24), rgb(255, 255, 255));
    border-bottom : solid 1px #aaaaaa;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 7px #aaaaaa;
    -webkit-box-shadow:0 1px 7px #aaaaaa;
}

main{
    width:1200px;
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
}

main article{
    background: #ffffff;
    border : solid 1px #aaaaaa;
    padding : 25px;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-radius: 20px;
    margin-bottom:20px;
}

/* ナビゲーションメニュー*/
header nav ul  {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
}

header nav li {
    display: inline;
    background-color: white;
    font-size: 16px;
    border-top:solid 3px #aaaaaa;
    border-right: solid 3px #aaaaaa;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
}

header nav li:first-child{
    border-left:solid 3px #aaaaaa
}

header nav{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -32px;
}

header nav li:hover{
    background-color: mediumseagreen;
}


/*現在表示中のページのタブを色変更する*/
body.RulePage header nav .RulePage,
body.DLPage header nav .DLPage,
body.EnvironmentPage header nav .EnvironmentPage,
body.LinkPage header nav .LinkPage{
    background-color:  rgb(70, 252, 146);
}

/*遊び方*/
div#Rule{
    width: 930px;
    float : right;
    border:1px #aaaaaa;
}

p.next-back-link{
    font-weight: bolder;
    text-align:center;
}

div.next-link{
    font-weight: bolder;
    width:269px;
    text-align:right;
    float:left;
    margin-top:20px;
    margin-bottom:20px;
    padding-right:120px;
}
div.back-link{
    font-weight: bolder;
    width:269px;
    text-align:left;
    float:left;
    margin-top:20px;
    margin-bottom:20px;
    padding-left:120px;
}
div.page-counter{
    font-weight: bolder;
    width:100px;
    text-align:center;
    float:left;
    margin-top:20px;
    margin-bottom:20px;
}
div.float-reset{
    clear:both;
}


/*遊び方 目次 */
nav#RuleMenu{
    width : 200px;
    float:left;
    background: #ffffff;
    border:1px #aaaaaa;
    box-shadow: 3px 3px 3px #aaaaaa;
    border : solid 1px #aaaaaa;
    padding : 8px;
    border-radius: 20px;
}

/* 遊び方：牌について*/
#TilesBySeries  dd{
    margin-bottom:30px;
}

/* 遊び方：役について*/
.Yaku  {
    margin:0px ;
    margin-bottom:30px;
    border:solid 1px #aaaaaa;
}

.Yaku h3{
    padding-left:5px;
    margin:0px;
}

.Yaku.Special h3,
.Yaku.AllSeries h3{
    background-color: aquamarine;
}

.Yaku.ZeninShugo h3,
.Yaku.AllColor  h3{
    background-color: darkslategray;
    color:white;
}

.Yaku h4{
    padding-left:5px;
    margin:0px 0px 15px 0px;
}

.YakuPoint{
    width:704px;
    text-align: right;
    padding:0px;
    font-size: 20px;
    font-weight: bolder;
    color:#0d5077;
    text-decoration: underline;

}

#YakuType>dt{
    font-weight: bolder;
}
/*キャラクター台詞 */
div.left-face{
    float:left;
    margin-right:20px;
    margin-bottom:0px;
    margin-top:0px;
}

div.left-face>img{
    border:2px solid #666666;
}

div.talking-Message{
    padding:10px;
    float:left;
    width:736px;
    position:relative;
    border-radius: 10px;
    margin-bottom:10px;

}

/*吹き出しのトゲをつくる*/
.talking-Message:before{
    content:"";
    position:absolute;
    top: 50%;
    left: -22px;
    margin-top:-12px; 
    border:11px solid transparent;
    z-index:2;
    
}
.talking-Message:after{
    content:"";
    position : absolute;
    top: 50%;
    left: -32px;
    margin-top:-17px;
    border:16px solid transparent;
    z-index:1;

    /* 'UNIMPLEMENTED:  */
    /* なぜか、この方法ではfloat:leftをリセットできない
    clear:both; 吹き出し会話モードが終わったため、float状態をオフに戻す */
} 

.talking-Message.Mirai:before{ 
    border-right:11px solid rgb(252, 242, 102);
}
.talking-Message.Mirai:after{
    border-right:16px solid rgb(133, 124, 0);
} 

.talking-Message.Riko:before{
    border-right:11px solid rgb(185, 180, 255);
}
.talking-Message.Riko:after{
    border-right:16px solid rgb(43, 2, 41);
} 


div.end-talk{
    clear:both;
}

.talking-Message.Mirai{
    background-color: rgb(252, 242, 102);
    border:3px solid rgb(133, 124, 0);
}

.talking-Message.Riko{
    background-color: rgb(185, 180, 255);
    border:3px solid rgb(43, 2, 41);
}

/* 表 */
table.tableType1{
    border:solid 1px #aaaaaa;
}
table.tableType1 th{
    border:solid 1px #aaaaaa;
    font-weight: bold;
    background-color: aquamarine;
}
table.tableType1 td{
    border:solid 1px #aaaaaa;
}