/*body */
body{
    background: url("BublbleRepeatMini.jpg");
    margin : 0;
 
}

h1 {
    margin-top:0;
    border-left:solid 5px #15278a;
    border-bottom:solid 1px #15278a;
}

h2 {
    margin-top:0;
    border-top:solid 1px #aaaaaa;
}

/* header */
header{
    background: #ffffff;
    border-bottom : solid 1px #aaaaaa;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 1px 7px #aaaaaa;
    -webkit-box-shadow:0 1px 7px #aaaaaa;
}

main{
    width:1200px;
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
}

main article{
    background: #ffffff;
    border : solid 1px #aaaaaa;
    padding : 25px;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-radius: 20px;
    margin-bottom:20px;
}

/* ナビゲーションメニュー*/
header nav ul  {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
}

header nav li {
    display: inline;
    font-size: 16px;
    border-right: solid 1px #aaaaaa;
    padding-left: 10px;
    padding-right:10px;
}

header nav li:first-child{
    border-left:solid 1px #aaaaaa
}

header nav{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -32px;
}

/*遊び方*/
div#Rule{
    width: 930px;
    float : right;
    border:1px #aaaaaa;
}

p.next-back-link{
    font-weight: bolder;
    text-align:center;
}


/*遊び方 目次 */
nav#RuleMenu{
    width : 200px;
    float:left;
    background: #ffffff;
    border:1px #aaaaaa;
    box-shadow: 3px 3px 3px #aaaaaa;
    border : solid 1px #aaaaaa;
    padding : 8px;
    border-radius: 20px;
}

/* 遊び方：牌について*/
#TilesBySeries  dd{
    margin-bottom:30px;
}

/*キャラクター台詞 */
div.left-face{
    float:left;
    margin-right:15px;
}

div.talking-Message{
    padding:10px;
}

div.end-talk{
    clear:both;
}

/*　'UNIMPLEMENTED: みらいの台詞は黄色背景、リコの台詞は紫背景で表示したい*/
.talking-message, .Mirai{
    background-color: rgb(252, 242, 102);
}

.talking-message, .Riko{
    background-color: rgba(185, 180, 255, 0.932);
}

/* 表 */
table.tableType1{
    border:solid 1px #aaaaaa;
}
table.tableType1 th{
    border:solid 1px #aaaaaa;
    font-weight: bold;
    background-color: aquamarine;
}
table.tableType1 td{
    border:solid 1px #aaaaaa;
}